/*Author: Shane Byrd
  Date: 2/8/17
*/
* {
  margin: 0;
 
}
body {
  margin: 0;
  padding: 0;
  background-color: purple;
}

#wrapper {
  margin: 0 auto;
  max-width: 1024px;
  background-color: white;
}

#output {
  float: inherit;
  background-color: yellow;
  
}

/*#fname:invalid, #lname:invalid {
	background: rgba(244,128,130,0.72);
} */

#cal {
   display: none;
   position: absolute;
   top: 0;
   background: black;
   color: white;
   padding: 10px;
}

#prev {
   float: left;
   padding: 4px;
   cursor: pointer;
}

#next {
   float: right;
   padding: 4px;
   cursor: pointer;
}

#cal table td {
   color: rgb(178,184,183);
   text-align: right;
   cursor: pointer;
}

#cal table td.futuredate {
   color: white;
}

div#format {
	margin-left: 10px;
	padding: 10px;
	float: left;
}

/* profile section */
#profile {
   min-width: 400px;
   max-width: 400px;
   float: left;
   border: 1px solid black;
   background: white;
   padding: 20px;
   background: rgb(216,217,219);
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

#profile h3 {
	font-size: 2em;
	text-align: center;
	color:rgba(41,7,8,1.00);
	text-decoration: underline;
}

#profile, #usernameSection, #emailSection, #investingSection {
   display: none;
}

#profile li, #profile p { /*spacing for profile results*/
   text-indent: 1em;
   margin-top: 5px;
}

/* form */

form {
	width: 500px;
	float: left;
}

p.errorMsg {
	color: rgba(255,0,4,1.00);
}

fieldset.text  {
	border: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

fieldset.names, fieldset.checks, fieldset.creditGroup {
	border: 0;
}

#errorText { /*from JavaScript*/
	
	font-size: 16px;
	color: rgba(255,68,71,1.00);
	font-family: "lobster-two", tangerine, "mrs-saint-delafield", "alex-brush", "cursive"
}

.oneRow {
  display: inline-block;
  
}
#traderPosition {
	float: right;
	background-color: yellow;
	max-width: 150px;
}

nav {
  background-color: orange;

}

li {  text-decoration: none;
  list-style-type: none;
  display: block;
  display: inline;
}

main {
  background-color: white;
  margin-left: 0px;
  max-width: 1024px;
  min-width: 1024px;
  float: left;
}

article > div#map {
	height: 350px;
	width: 700px;
}

h3 {
	display: block;
}
